{% extends "maestra.html" %}
{% block titulo %}DETALLE PRÁCTICA {% endblock %}
{% block subtitul %}DETALLE PRÁCTICA {% endblock %}
{% block recursos %}
<link rel="stylesheet" href="{{url_for('static',filename='styles/listarSemestre.css') }}">
<link rel="stylesheet" href="{{url_for('static',filename='styles/listarDetallePractica.css') }}">
<style>
  .oculto {
    display: none;
  }
</style>
{% endblock %}
{% block contenido %}

<section>
  <div class="">
    <div class="barraGest">
      <!--Le ponen el class "gestSelect" cuando quieran que se vea seleccionado-->
      <label class="btnOp gestSelect">
        <a href="{{url_for('practicas')}}">Practica</a>
      </label>
    </div>

    <div id="cont1" class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- Contenido de la primera columna -->
          <h3>DATOS DE LA PRÁCTICA:</h2>
            <div class="row">
              <div class="col-md-6">
                <!-- Contenido de la primera columna -->
                <span class="d-block">Fecha Inicio:</span>
                <span class="d-block">Fecha Fin:</span>
                <span class="d-block">Horas Practica:</span>
                <span class="d-block">Estado:</span>
                <span class="d-block">Modalidad:</span>
                <span class="d-block">Semestre de inicio:</span>
                <span class="d-block">Semestre final:</span>
              </div>
              <div class="col-md-6">
                <!-- Contenido de la segunda columna -->
                <input readonly value="{{detalle[0] }}"></input>
                <input readonly value="{{detalle[1] }}"></input>
                <input readonly value="{{detalle[2] }}"></input>
                <input readonly value="{{detalle[3] }}"></input>
                <input readonly value="{{detalle[4] }}"></input>
                <input readonly value="{{detalle[5] }}"></input>
                <input readonly value="{{detalle[6] }}"></input>
              </div>
            </div>
        </div>
        <div class="col-md-6">
          <!-- Contenido de la primera columna -->
          <h3>DATOS DEL ESTUDIANTE:</h2>
            <div class="row">
              <div class="col-md-6">
                <span class="d-block">Codigo Estudiante:</span>
                <span class="d-block">Apellidos:</span>
                <span class="d-block">Nombres:</span>
                <span class="d-block">DNI:</span>
                <span class="d-block">Plan de estudio:</span>
              </div>
              <div class="col-md-6">
                <!-- Contenido de la segunda columna -->
                <input readonly value="{{detalle[7] }}"></input>
                <input readonly value="{{detalle[8] }}"></input>
                <input readonly value="{{detalle[9] }}"></input>
                <input readonly value="{{detalle[10] }}"></input>
                <input readonly value="{{detalle[11] }}"></input>
              </div>
            </div>
            <h3>DATOS DE LA EMPRESA:</h2>
              <div class="row">
                <div class="col-md-6">
                  <span class="d-block">Empresa:</span>
                  <span class="d-block">RUC:</span>
                  <span class="d-block">Jefe Inmediato:</span>
                </div>
                <div class="col-md-6">
                  <!-- Contenido de la segunda columna -->
                  <input readonly value="{{detalle[12] }}"></input>
                  <input readonly value="{{detalle[13] }}"></input>
                  <input readonly value="{{detalle[14] }}"></input>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div id="cont2">
      <h5 id="tith5">Listado de Informes de la Práctica Pre-Profesional:</h5>
      <div class="table p-5">
        <table class="table table-light table-hover border" id="tabla">
          <thead>

            <tr class="container">
              <th scope="col">Informe</th>
              <th scope="col">Fecha Entrega</th>
              <th scope="col">Estado</th>
              <th colspan="3" scope="col">Operaciones</th>
            </tr>
          </thead>
          <tbody id="tabla">
            {% if informe %}
            {% if informe[1]=="G"%}
            <tr class="container">
              <td scope="row" id="fecha1">Informe Inicial Estudiante</td>
              <td scope="row" id="fecha2">{{informe[0]}}</td>
              <td scope="row" id="estado">{{informe[1]}}</td>
              <td scope="row">{% if tipou[0]=="E" %}<a href="{{url_for('editarInformeInicialEstudiante', id=detalle[15],id1=informe[2])}}"><i class="bi bi-pencil-fill"></i></a>{% else %}{% endif %}</td>
              <td scope="row"><a href="{{url_for('verInformeInicialEstudiante', id=detalle[15],id1=informe[2])}}"><i class="bi bi-eye-fill"></i></a></td>
              <td scope="row"><a href="{{url_for('generar_ies', id=informe[2],id1=detalle[15])}}"><i
                    class="bi bi-arrow-down"></i></a></td>
            </tr>
            {% else %}
            <tr class="container">
              <td scope="row" id="fecha1">Informe Inicial Estudiante</td>
              <td scope="row" id="fecha2">{{informe[0]}}</td>
              <td scope="row" id="estado">{{informe[1]}}</td>
              <td scope="row"><a href="#"><i class="bi bi-eye-fill"></i></a></td>
              <td scope="row"><a href="#"><i
                    class="bi bi-arrow-down"></i></a></td>

            </tr>
            {% endif %}
            {% else %}
            <tr class="container">
              <td scope="row" id="fecha1">Informe Inicial Estudiante</td>
              <td scope="row" id="fecha2">-----</td>
              <td scope="row" id="estado">-----</td>
              <td colspan="3" scope="row">{% if tipou[0]=="E" %}<a
                  href="{{url_for('agregarInformeInicialEstudiante', id=detalle[15])}}"><i
                    class="bi bi-plus-circle-fill"></i></a>{% else %}{% endif %}</td>

            </tr>
            {% endif %}
            {% if informe1 %}
            {% if informe1[1]=="G"%}
            <tr class="container">
              <td scope="row" id="fecha1">Informe Final Estudiante</td>
              <td scope="row" id="fecha2">{{informe1[0]}}</td>
              <td scope="row" id="estado">{{informe1[1]}}</td>
              <td scope="row">{% if tipou[0]=="E" %}<a href="{{url_for('editarInformeFinalEstudiante', idPractica=detalle[15])}}"><i class="bi bi-pencil-fill"><!-- Link Para editar final estudiante --></i></a>{% else %}{% endif %}</td>
              <td scope="row"><a href="{{url_for('verInformeFinalEstudiante', idPractica=detalle[15])}}"><!-- Link Para ver final estudiante --><i class="bi bi-eye-fill"></i></a></td>
              <td scope="row"><a href="{{url_for('generar_informeFinalEstudiante', idPractica=detalle[15])}}"><!-- Link Para descargar final estudiante --><i
                    class="bi bi-arrow-down"></i></a></td>

            </tr>
            {% else %}
            <tr class="container">
              <td scope="row" id="fecha1">Informe Final Estudiante</td>
              <td scope="row" id="fecha2">{{informe1[0]}}</td>
              <td scope="row" id="estado">{{informe1[1]}}</td>
              <td scope="row"><a href="{{url_for('verInformeFinalEstudiante', idPractica=detalle[15])}}"><!-- Link Para ver final estudiante --><i class="bi bi-eye-fill"></i></a></td>
              <td scope="row"><a href="{{url_for('generar_informeFinalEstudiante', idPractica=detalle[15])}}"><!-- Link Para descargar final estudiante --><i
                    class="bi bi-arrow-down"></i></a></td>
            </tr>
            {% endif %}
            
            {% else %}
            <tr class="container">
              <td scope="row" id="fecha1">Informe Final Estudiante</td>
              <td scope="row" id="fecha2">-----</td>
              <td scope="row" id="estado">-----</td>
              <td colspan="3" scope="row">{% if tipou[0]=="E" %}<a
                  href="{{url_for('agregarInformeFinalEstudiante', idPractica=detalle[15])}}"><!-- Link Para agregar final estudiante --><i
                    class="bi bi-plus-circle-fill"></i></a>{% else %}{% endif %}</td>

            </tr>
            {% endif %}
            {% if informe2 %}
            {% if informe2[1]=="G"%}
            <tr class="container">
              <td scope="row" id="fecha1">Informe Inicial Empresa</td>
              <td scope="row" id="fecha2">{{informe2[0]}}</td>
              <td scope="row" id="estado">{{informe2[1]}}</td>
              <td scope="row align-items-center"><a href="{{url_for('editar_iie',id=id)}}"><i class="bi bi-pencil-fill"></i></a></td>
              <td scope="row align-items-center"><a href="{{url_for('ver_iie',id=id)}}"><i class="bi bi-eye-fill"></i></a></td>
              <td scope="row align-items-center"><a href="{{url_for('generar_iie',id=id)}}"><i class="bi bi-arrow-down"></i></a></td>

            </tr>
            {% else %}
            <tr class="container">
              <td scope="row" id="fecha1">Informe Inicial Empresa</td>
              <td scope="row" id="fecha2">{{informe2[0]}}</td>
              <td scope="row" id="estado">{{informe2[1]}}</td>
              <td scope="row align-items-center"><a href="{{url_for('ver_iie',id=id)}}"><i class="bi bi-eye-fill"></i></a></td>
              <td scope="row align-items-center"><a href="{{url_for('generar_iie',id=id)}}"><i class="bi bi-arrow-down"></i></a></td>
            </tr>
            {% endif %}
            {% else %}
            <tr class="container">
              <td scope="row" id="fecha1">Informe Inicial Empresa</td>
              <td scope="row" id="fecha2">-----</td>
              <td scope="row" id="estado">-----</td>
              <td colspan="3" scope="row align-items-center"><a href="{{url_for('nuevo_iie',id=id)}}"><i class="bi bi-plus-circle-fill"></i></a></td>

            </tr>
            {% endif %}
            {% if informe3 %}
            {% if informe3[1]=="G"%}
            <tr class="container">
              <td scope="row" id="fecha1">Informe Final Empresa</td>
              <td scope="row" id="fecha2">{{informe3[0]}}</td>
              <td scope="row" id="estado">{{informe3[1]}}</td>
              <td scope="row"><a href="#">{% if tipou[0]=="J" %}<i class="bi bi-pencil-fill"><!-- Link Para editar final empresa --></i></a>{% else %}{% endif %}</td>
              <td scope="row"><a href="#"><!-- Link Para ver final empresa --><i class="bi bi-eye-fill"></i></a></td>
              <td scope="row"><a href="#"><!-- Link Para descagar final empresa --><i
                    class="bi bi-arrow-down"></i></a></td>

            </tr>
            {% else %}
            <tr class="container">
              <td scope="row" id="fecha1">Informe Final Empresa</td>
              <td scope="row" id="fecha2">{{informe3[0]}}</td>
              <td scope="row" id="estado">{{informe3[1]}}</td>
              <td scope="row"><a href="#"><!-- Link Para ver final empresa --><i class="bi bi-eye-fill"></i></a></td>
              <td scope="row"><a href="#"><!-- Link Para descagar final empresa --><i
                    class="bi bi-arrow-down"></i></a></td>
            </tr>
            {% endif %}
            
            {% else %}
            <tr class="container">
              <td scope="row" id="fecha1">Informe Final Empresa</td>
              <td scope="row" id="fecha2">-----</td>
              <td scope="row" id="estado">-----</td>
              <td colspan="3" scope="row">{% if tipou[0]=="J" %}<a
                  href="#"><!-- Link Para agregar final empresa --><i
                    class="bi bi-plus-circle-fill"></i></a>{% else %}{% endif %}</td>

            </tr>
            {% endif %}
            {% if informe4 %}
            {% if informe4[1]=="G"%}
            <tr class="container">
              <td scope="row" id="fecha1">Informe Desempeño</td>
              <td scope="row" id="fecha2">{{informe4[0]}}</td>
              <td scope="row" id="estado">{{informe4[1]}}</td>
              <td scope="row">{% if tipou[0]=="J" %}<a href="{{url_for('editarInformeDesempeño', id1=detalle[15],id=informe4[2])}}"><!-- Link Para editar desempeño --><i class="bi bi-pencil-fill"></i></a>{% else %}{% endif %}</td>
              <td scope="row"><a href="{{url_for('verInformeDesempenio', id=detalle[15],id1=informe4[2])}}"><!-- Link Para ver desempeño --><i class="bi bi-eye-fill"></i></a></td>
              <td scope="row"><a href="{{url_for('generar_ide', id=informe4[2],id1=detalle[15])}}"><!-- Link Para descargar desempeño --><i
                    class="bi bi-arrow-down"></i></a></td>

            </tr>
            {% else %}
            <tr class="container">
              <td scope="row" id="fecha1">Informe Desempeño</td>
              <td scope="row" id="fecha2">{{informe4[0]}}</td>
              <td scope="row" id="estado">{{informe4[1]}}</td>
              <td scope="row"><a href="{{url_for('verInformeDesempenio', id=detalle[15],id1=informe4[2])}}"><i class="bi bi-eye-fill"><!-- Link Para ver desempeño --></i></a></td>
              <td scope="row"><a href="{{url_for('generar_ide', id=informe4[2],id1=detalle[15])}}"><!-- Link Para descargar desempeño --><i
                    class="bi bi-arrow-down"></i></a></td>
            </tr>
            {% endif %}
            {% else %}
            <tr class="container">
              <td scope="row" id="fecha1">Informe Desempeño</td>
              <td scope="row" id="fecha2">-----</td>
              <td scope="row" id="estado">-----</td>
              <td colspan="3" scope="row">{% if tipou[0]=="J" %}<a
                  href="{{url_for('agregarInformeDesempenio', id=detalle[15])}}"><!-- Link Para agregar desempeño --><i         
                    class="bi bi-plus-circle-fill"></i></a>{% else %}{% endif %}</td>
                    
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
    <div id="cont3">
      <p>Seguimientos de la Práctica Pre Profesional:</p>
      <a href="{{url_for('seguimiento_practica', id=detalle[15])}}"><button type="button"
          class="btn btn-success">Mostrar</button></a>
    </div>
    <div id="cont4">
      <br>
    </div>

  </div>

</section>
{% endblock %}
{%block scripts %}




{% endblock %}