{% extends maestra %}
{% block titulo %}Gestionar seguimiento práctica{% endblock %}
{% block subtitul %}Gestionar Seguimiento práctica{% endblock %}
{% block recursos %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<link rel="stylesheet" href="{{url_for('static',filename='styles/listarseguimiento.css') }}">
{% endblock %}
{% block contenido %}
<section>
  <div class="barraGest">
    <label class="btnOp">
      <a href="">Listar</a>
    </label>
    <!-- SE TIENE QUE MODIFICAR -->
    <label class="btnOp">
      {% if not (usuario[3] != 3) %}
      <a href="{{url_for('agregar_seguimiento_practica', idSeguimiento=idPractica[0])}}">Nuevo</a>
      {% endif %}
    </label>
  </div>
  <div class="tabla" id="contenido-dinamico">
    <table id="tabla" class="display">
      <thead>
        <tr class="headTable">
          <th>Codigo</th>
          <th>Estudiante</th>
          <th>Empresa</th>
          <th>Tipo</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Detalle Seguimiento</th>
        </tr>
      </thead>
      <tbody>
        {% for seguimiento_practica in seguimiento_practicas %}
        <tr>
          <td>{{seguimiento_practica[0]}}</td>
          <td>{{seguimiento_practica[1]}}</td>
          <td>{{seguimiento_practica[2]}}</td>
          <td>{{seguimiento_practica[3]}}</td>
          <td>{{seguimiento_practica[4]}}</td>
          <td>{{seguimiento_practica[5]}}</td>
          <td class="etiqueta" style="text-align: center;"><a href="{{url_for('ver_seguimiento_practica', idSeguimiento=seguimiento_practica[0])}}"><i class="bi bi-eye-fill"></i></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- <div class="indice">
    <div class="btnIndice">
      <button id="inicio">&lt;&lt;</button>
      <button id="atras">&lt;</button>
      <p id="contador" value="1">1</p>
      <button id="adelante">&gt;</button>
      <button id="final">&gt;&gt;</button>
    </div>
    <div class="sltIndice">
      <select name="mostrar" id="mostrar">
        <option value="5" selected>5</option>
        <option value="10">10</option>
        <option value="30">30</option>
      </select>
    </div>
  </div> -->
  <div>
    <a class="boton" href="{{ url_for('detalle_practica', id=idPractica[0])}}"><button type="button" class="btn btn-success">Regresar</button></a>
  </div>
</section>
{% endblock %}
{%block scripts %}
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{url_for('static',filename='assets/js/paginacionv2.js') }}"></script>
{% endblock %}