{% extends maestra %}
{% block titulo %}Gestionar práctica{% endblock %}
{% block subtitul %}Gestionar práctica{% endblock %}
{% block recursos %}
<link rel="stylesheet" href="{{url_for('static',filename='styles/icon-btn.css') }}">
<link rel="stylesheet" href="{{url_for('static',filename='styles/listarPractica.css') }}">
<script type="text/javascript" src="{{url_for('static',filename='assets/js/semestre.js') }}"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />

{% endblock %}
{% block contenido %}



<section>
  <div class="barraGest">
    <!--Le ponen el class "gestSelect" cuando quieran que se vea seleccionado-->
    <label class="btnOp">
      <a href="{{url_for('index_s')}}">Inicio</a>
    </label>
    <label class="btnOp">
      <a href="">Listar</a>
    </label>
    {% if usuario[3] == 1 %}
    <label class="btnOp">
      <a href="{{url_for('agregar_practica')}}">Nuevo</a>
    </label>
    {% endif %}
  </div>
  <div class="tabla" id="contenido-dinamico">
    
    <table id="tabla" class="display">
      <thead>
      <tr class="headTable">
        <th>Codigo Universitario</th>
        <th>Estudiante</th>
        <th>Empresa</th>       
        <th>Horas practicas</th>
        <th>Estado Practica</th>       
        <th>Modalidad</th>
        <th>Estado Envio</th>       
        <th>Ver Detalle</th>
        <th>Editar</th>
        {% if usuario[3]==3 %}
        <th>Aprobar</th>
        {% else %}
        <th>Enviar</th>
        {% endif %}
      </tr>
    </thead>

      {% for practica in practica %}
      <tr>
        <td>{{practica[11]}}</td> <!-- el centrado modificarlo y ponerlo en el css -->
        <td>{{practica[1]}}</td>
        <td>{{practica[2]}}</td>
        
        
        <td>{{practica[6]}}</td>
        <td>{{practica[7]}}</td>
       
        <td>{{practica[9]}}</td>
        <td>{{practica[12]}}</td>
        <td><a href="{{url_for('detalle_practica', id=practica[0])}}"><i class="bi bi-eye-fill"></i></a></td>
        <td class="editar">
          {% if practica[12] == 'GUARDADO' %}
            <a href="{{url_for('editar_Practica', id=practica[0])}}"><i class="bi bi-pencil-fill"></i></a>
          {% else %}
            <a href="#"><i class="bi bi-x-circle-fill"></i></a>
          {% endif %}
        </td>
        <td>
          {% if usuario[3]==3 %}
          {% if practica[7]=='Inicializado'%}
          <form action="EnProcesoPractica" method="post">
            <input type="text" name="id" value="{{practica[0]}}" style="display: none;">
            <button><img src="{{url_for('static',filename='check.png') }}" alt=""></button>
          </form>
          {% else %}
          {% endif %}
          {% else %}
          {% if practica[12] == 'GUARDADO' %}
          <form action="EnviarPractica" method="post">
            <input type="text" name="id" value="{{practica[0]}}" style="display: none;">
            <button><img src="{{url_for('static',filename='cloud-upload-alt.png') }}" alt=""></button>
          </form>
          {% else %}
            
          {% endif %}
          {%endif%}
          </td>
      </tr>
      {% endfor %}
    </table>
  </div>

{% endblock %}


{%block scripts %}

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

<script type="text/javascript" src="{{url_for('static',filename='assets/js/paginacion.js') }}"></script>


{% endblock %}