{% extends maestra %}
{% block titulo %}Agregar práctica{% endblock %}
{% block subtitul %}Agregar práctica{% endblock %}
{% block recursos %}
<link rel="stylesheet" href="{{url_for('static',filename='styles/nuevaPractica.css') }}">
<script type="text/javascript" src="{{url_for('static',filename='assets/js/semestre.js') }}"></script>
{% endblock %}
{% block contenido %}


<section>
  <div class="barraGest">
    <!--Le ponen el class "gestSelect" cuando quieran que se vea seleccionado-->
    <label class="btnOp">
      <a href="{{url_for('index_s')}}">Inicio</a>
    </label>
    <label class="btnOp">
      <a href="{{url_for('practicas')}}">Listar</a>
    </label>
    <label class="btnOp gestSelect">
      <a href="#" class="gestSelect">Nuevo</a>
    </label>
  </div>



  <form action="{{url_for('guardar_practica')}}" method="post" class="nuevaPractica">

    <h2>DATOS DEL ESTUDIANTE</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <label for="">Código de estudiante:</label>
        </div>
        <div class="col-md-4">
          <input readonly value="{{estudiante[1] }}"></input>
        </div>
        <div class="col-md-2">
          <label for="">DNI:</label>
        </div>
        <div class="col-md-4">
          <input readonly value="{{estudiante[2] }}"></input>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label for="">Nombre Completo:</label>
        </div>
        <div class="col-md-4">
          <input readonly value="{{estudiante[3] }}"></input>
        </div>
        <div class="col-md-2">
          <label for="">Plan de Estudios:</label>
        </div>
        <div class="col-md-4">
          <input readonly value="{{estudiante[4] }}"></input>
        </div>
      </div>
    </div>

    <br>

    <h2>DATOS DE LA EMPRESA</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <label for="">Empresa</label>
        </div>
        <div class="col-md-4">
          <select id="empresa" class="dropdown" name="emp">
            <option>Empresas</option>
            {% for empresa in empresa %}
            <option value="{{ empresa[0] }}">{{ empresa[0] }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-4">

        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label for="">RUC:</label>



        </div>
        <div class="col-md-4">
          <input readonly id="ruc" name="ruc"></input>
        </div>
        <div class="col-md-2">
          <label for="">Jefe Inmediato:</label>
        </div>
        <div class="col-md-4">
          <input readonly id="jefe" name="jefe"></input>
        </div>
      </div>
    </div>

    <br>
    <h2>DATOS DEL SEMESTRE</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <label for="">Semestre de Inicio:</label>
        </div>
        <div class="col-md-4">
          <select id="" class="dropdown" name="semI">
            {% for semestreA in semestreA %}
            <option value="{{ semestreA[0] }}">{{ semestreA[0] }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-2">
          <label for="">Semestre Final:</label>
        </div>
        <div class="col-md-4">
          <select id="" class="dropdown" name="semF">
            {% for semestreF in semestreF %}
            <option value="{{ semestreF[0] }}">{{ semestreF[0] }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>

    <br>
    <h2>DATOS DE LA PRÁCTICA</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <label for="">Linea de desarrollo:</label>
        </div>
        <div class="col-md-4">
          <select id="" class="dropdown" name="linDes">
            {% for linea in linea %}
            <option value="{{ linea[1] }}">{{ linea[1] }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-2">
          <label for="">Modalidad:</label>
        </div>
        <div class="col-md-4">
          <select id="" class="dropdown" name="mod">
            <option value="P">Presencial</option>
            <option value="R">Remoto</option>
            <option value="S">Semi presencial</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label for="">Fecha Inicio:</label>
        </div>
        <div class="col-md-4">
          <input id="" type="date" name="feI">
        </div>
        <div class="col-md-2">
          <label for="">Fecha Fin:</label>
        </div>
        <div class="col-md-4">
          <input id="" type="date" name="feF">
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label for="">Horas Prácticas:</label>
        </div>
        <div class="col-md-4">
          <input id="" type="number" name="hPrac" min="0" max="260"
            oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">

        </div>
        <div class="col-md-2">
          <label for="">Fecha Limite:</label>

        </div>
        <div class="col-md-4">
          <input id="" type="date" name="feLim">

        </div>
      </div>

    </div>
    <br>

    <div class="btnsNuevaPractica">
      <button id="btnCancelar">
        <a href="{{url_for('practicas')}}">Cancelar</a>
      </button>
      <button id="btnRegistrar" name="action" type="submit" value="Guardar">

        Guardar

      </button>
      <button id="btnRegistrarEnviar" name="action" type="submit" value="Enviar">

        Guardar y Enviar

      </button>
    </div>

  </form>

</section>
{% endblock %}
{%block scripts %}
<script type="text/javascript" src="{{url_for('static',filename='assets/js/practica.js') }}"></script>
{% endblock %}