{% extends maestra %}
{% block titulo %} Registrar semestre {% endblock %}
{% block subtitul %} Registrar semestre {% endblock %}
{% block recursos %}
<link rel="stylesheet" href="{{url_for('static',filename='styles/nuevoSemestre.css') }}">
<script type="text/javascript" src="{{url_for('static',filename='assets/js/semestre.js') }}"></script>
{% endblock %}
{% block contenido %}


<section>
  <div class="barraGest">
    <!--Le ponen el class "gestSelect" cuando quieran que se vea seleccionado-->
    <label class="btnOp">
      <a href="{{url_for('semestres')}}">Inicio</a> <!-- Cambiar a la función de inicio -->
    </label>
    <label class="btnOp">
      <a href="{{url_for('semestres')}}">Listar</a>
    </label>
    <label class="btnOpSeleccionado">
      <a href="{{url_for('agregar_semestre')}}">Nuevo</a>
    </label>
  </div>
  <div class="nuevoSemestre">
    <div class="formulario">
      <form action="{{url_for('guardar_semestre')}}" method="post">
        <div class="nombreSemestre">
          <label for="">Nombre de semestre:</label>
          <input id="" type="text" name="nombreSe" required>
        </div>
        <div class="nombreSemestre">
          <label for="">Fecha inicio:</label>
          <input id="" type="date" name="fechaI" required>
        </div>
        <div class="nombreSemestre">
          <label for="">Fecha fin:</label>
          <input id="" type="date" name="fechaF" required>
        </div>
        <div class="nombreSemestre">
          <label for="">Vigencia:</label>
          <input id="checkEstado" type="checkbox" checked="true" value="V" onclick="checkValue()">
          <input type="hidden" value="V" id="estado" name="estado">
        </div>
        <div class="btnsNuevoSemestre">
          <button id="btnCancelar">
            <a href="{{url_for('semestres')}}">Cancelar</a>
          </button>
          <button id="btnRegistrar" type="submit">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}