{% extends maestra %}
{% block titulo %} Editar escuela {% endblock %}
{% block subtitul %} Editar escuela {% endblock %}
{% block recursos %}
<link rel="stylesheet" href="{{url_for('static',filename='styles/nuevaEscuela.css') }}">
<script type="text/javascript" src="{{url_for('static',filename='assets/js/semestre.js') }}"></script>
{% endblock %}
{% block contenido %}


<section>
  <div class="barraGest">
    <!--Le ponen el class "gestSelect" cuando quieran que se vea seleccionado-->
    <label class="btnOp">
      <a href="{{url_for('escuelas')}}">Inicio</a> <!-- Cambiar a la función de inicio -->
    </label>
    <label class="btnOp">
      <a href="{{url_for('escuelas')}}">Listar</a>
    </label>
    <label class="btnOp">
      <a href="#">Nuevo</a>
    </label>
  </div>
  <div class="nuevoSemestre">
    <div class="formulario">
      <form action="{{url_for('actualizar_escuela')}}" method="post">
        <input type="hidden" name="id" value="{{escuela[0]}}">
        <div class="nombreSemestre">
          <label for="">Nombre:</label>
          <input id="nombre" type="text" name="nombre"  value="{{escuela[1]}}">
        </div>
        <div class="">
          <div class="descripe">
            <label for="">Descripción:</label>
            <input id="descripcion" type="text" name="descripcion"  value="{{escuela[2]}}">
          </div>
          <div class="checke">
            <label for="">Estado:</label>
            <input id="checkEstado" type="checkbox" {%if (opt): %}checked{%endif%} value="{{escuela[3]}}" onclick="checkValue()">
            <input type="hidden" value="{{escuela[3]}}" id="estado" name="estado">
          </div>
        <div class="nombreSemestre">
          <label for="">Facultad:</label>

         <select name="idFacultad" value="{{escuela[4]}}">
        {% for facultad in facultades %}
            <option>{{facultad[0]}}</option>
        {% endfor %}
        </select>
        </div>
        <div class="btnsNuevoSemestre">
          <button id="btnCancelar">
            <a href="{{url_for('escuelas')}}">Cancelar</a>
          </button>
          <button id="btnRegistrar" type="submit">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}