{% extends maestra %}
{% block titulo %}Inicio Docente de apoyo{% endblock %}
{% block subtitul %}Inicio Docente de apoyo{% endblock %}
{% block recursos %}

<link rel="stylesheet" href="{{url_for('static',filename='styles/icon-btn.css') }}">
<script type="text/javascript" src="{{url_for('static',filename='assets/js/semestre.js') }}"></script>
{% endblock %}
{% block contenido %}

<section>
  <div class="barraGest">
    <!--Le ponen el class "gestSelect" cuando quieran que se vea seleccionado-->
    <label class="btnOp">
      <a href="{{url_for('index_s')}}">Inicio</a>
    </label>
  </div>
  <div class="container text-center">
    <div class="container text-center" style="margin-top: 20%;">
      <div style="display: flex; margin-top: 50px;">
        <div class="card mb-3" style="max-width: 540px; margin-right: 15%;">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="https://img.freepik.com/vector-gratis/hombre-mujer-hablando-concepto-trabajo-pasantia_23-2148707610.jpg"
                class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><strong>Modulo de practicas preprofesionales</strong></h5>
                <p class="card-text">Modulo en el cual se gestiona el proceso de las practicas preprofesionales</p>
                <p class="card-text"><small class="text-body-secondary"><a href="{{url_for('index_d_modulo1')}}" class="btn btn-primary">Acceder</a></small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="https://img.freepik.com/vector-premium/ilustracion-vector-grafico-personaje-dibujos-animados-desarrollo-academico-proceso-aprendizaje_516790-1288.jpg?w=2000"
                class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><strong>Modulo de gestion academica</strong></h5>
                <p class="card-text">Modulo en el cual se gestiona diferentes procesos academicos</p>
                <p class="card-text"><small class="text-body-secondary"><a href="{{url_for('index_d_modulo2')}}" class="btn btn-primary">Acceder</a></small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}