{% extends maestra %}
{% block titulo %}Gestionar empresas {% endblock %}
{% block subtitul %}Gestionar empresas {% endblock %}
{% block recursos %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<link rel="stylesheet" href="{{url_for('static',filename='styles/listarEmpresa.css') }}">
{% endblock %}
{% block contenido %}
<section>
  <div class="barraGest">
    <!--Le ponen el class "gestSelect" cuando quieran que se vea seleccionado-->
    <label class="btnOp">
      <a href="{{url_for('index_d_modulo1')}}">Inicio</a>
    </label>
    <label class="btnOp">
      <a href="">Listar</a>
    </label>
    <label class="btnOp">
      <a href="{{url_for('agregar_empresa')}}">Nuevo</a>
    </label>
  </div>
  <!-- <div class="buscar">
    <div class="barraBuscar">
      <button><img src="{{url_for('static', filename='buscar.png')}}" alt="buscar"></button>
      <input type="text" id="idBusqueda">
    </div>
  </div> -->
  <div class="tabla" id="contenido-dinamico">
    <table id="tabla" class="display">
      <thead>
        <tr class="headTable">
          <th>Razón social</th>
          <th>RUC</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Ver</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        {% for empresa in empresas %}
        <tr>
          <td>{{empresa[1]}}</td>
          <td class="ruc">{{empresa[2]}}</td>
          <td class="direccion">{{empresa[3]}}</td>
          <td class="telefono">{{empresa[4]}}</td>
          <td class="ver"><a href="{{url_for('ver_empresa', id=empresa[0])}}"><i class="bi bi-eye-fill"></i></a></td>
          <td class="editar"><a href="{{url_for('editar_empresa', id=empresa[0])}}"><i class="bi bi-pencil-fill"></i></a></td>
          <td class="eliminar"><a href="{{url_for('eliminar_empresa', id=empresa[0])}}"><i class="bi bi-trash-fill"></i></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- <div class="indice">
    <div class="btnIndice">
      <button id="inicio">&lt;&lt;</button>
      <button id="atras">&lt;</button>
      <p id="contador" value="1">1</p>
      <button id="adelante">&gt;</button>
      <button id="final">&gt;&gt;</button>
    </div>
    <div class="sltIndice">
      <select name="mostrar" id="mostrar">
        <option value="5" selected>5</option>
        <option value="10">10</option>
        <option value="30">30</option>
      </select>
    </div>
  </div> -->
</section>
{% endblock %}
{%block scripts %}
<script type="text/javascript" src="{{url_for('static',filename='assets/js/empresa.js') }}"></script>

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

<script type="text/javascript" src="{{url_for('static',filename='assets/js/paginacion.js') }}"></script>


{% endblock %}